<div [ngSwitch]="dialogType" class="dialog-conteiner">
    <ng-template [ngSwitchCase]="1">
        <h3 mat-dialog-title>Завершить заказ</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите завершить заказ
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="end-order" (click)="onColickCompleteOrder()"
                    [disabled]="disableButton === true">Завершить</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
        <h3 mat-dialog-title>Отправить в OMS</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите отправить заказ в OMS
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="send-oms" (click)="onClickSendToBitrix()"
                    [disabled]="disableButton === true">Отправить</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="3">
        <h3 mat-dialog-title>Вернуть в сборку</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите вернуть заказ в сборку
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="back-to-assembly" (click)="onClickReturnToAssembly()"
                    [disabled]="disableButton === true">Вернуть</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="4">
        <h3 mat-dialog-title>Записать в кассу</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите записать заказ в кассу
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="order-to-cassa" (click)="onClickWriteToCashbox()"
                    [disabled]="disableButton === true">Записать</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="5">
        <h3 mat-dialog-title>Заказ возвращен в секицию</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно вернули заказ в секцию
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="end-order" (click)="onClickReturnToRetail()"
                    [disabled]="disableButton === true">Возвращен</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="6">
        <h3 mat-dialog-title>Удалить заказ</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите удалить заказ
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="delete" (click)="onDelete()"
                    [disabled]="disableButton === true">УДАЛИТЬ</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="7">
        <h3 mat-dialog-title>Записать заказ в прграммную кассу ?</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите записать заказ в программную кассу
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="order-to-programm-cassa" (click)="onClickWriteToProgrammCassa()"
                    [disabled]="disableButton === true">Записать</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="8">
        <h3 mat-dialog-title>Подтвердить отправку заказа ?</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите подтвердить отправку заказа ?
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="end-order" (click)="SendDeliveruOrder()"
                    [disabled]="disableButton === true">Подтвердить</button>
            </div>
        </div>
    </ng-template>
    <ng-template [ngSwitchCase]="9">
        <h3 mat-dialog-title>Подтвердить возврат заказа ?</h3>
        <div mat-dialog-content class="mat-typography">
            Вы действительно хотите подтвердить возврат заказа ?
        </div>
        <div mat-dialog-actions>
            <div class="btn">
                <button mat-raised-button [mat-dialog-close]="null" class="cancel">НЕТ</button>
            </div>
            <div class="btn">
                <button mat-raised-button class="order-return-from-send" (click)="BackDeliveryOrder()"
                    [disabled]="disableButton === true">Подтвердить</button>
            </div>
        </div>
    </ng-template>
</div>