.dialog-conteiner{
    background: linear-gradient(to bottom, #0F0F0F, #222222);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    h3{
        color: #fff;
        font-size: 1.3em;
    }
    div{
        color: #fff;
    }
}