.main{
    position: relative;
    height: 100vh;
    width: 100%;
    .search-conteiner{
        padding-top: 10px;
        display: flex;
        width: 100%;
        flex-direction: row;
        .profile-button{
            margin-left: auto;
            margin-right: 10px;
            color: #fff;
            background: none;
	        padding: 0;
	        font: inherit;
	        cursor: pointer;
	        outline: inherit;
            display: flex;
            align-items: center;
            justify-content: center;    
            border-radius:20px;  
            background: rgba(255, 255, 255, 0.1);
            box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
            box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.5);
            padding: 5px 5px;
            span:nth-child(2){
                margin-right:5px;
            }
            transition: 0.2s;
            &:hover{
                color: #B151DD;
                text-shadow: #B151DD 1px 0 10px;
            }
            
        }

        .timer{
            color: #fff;
            position: relative;
            margin-left: 0.8em;
            padding: 0.8em 0.2em;
            height: 1.1em;
            border: 1px solid rgba(95, 95, 95, 0.5);
            border-radius: 5px;
            user-select: none;
            transition: 0.2s;
            &:hover{
                text-shadow: orange 1px 0 10px;
            }
        }
    }
    .input-box{
        position: relative;
        button{
            position: absolute; 
            right: 5px; 
            top: 5px;
            color: #fff;
            background-color: transparent;
            border: 0;
            border-radius: 50%;
            width: 31px;
            height: 31px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                color: black;
            }
        }
    }
    input {
        background: rgba(255, 255, 255, 0.2);
        border: none;
        outline: none;
        padding: 10px 20px 10px 25px;
        border-radius: 35px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 16px;
        letter-spacing: 1px;
        color: #fff;
        box-shadow: 0 5px rgba(0, 0, 0, 0.05);
        margin-left: 10px;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    .search-adres{
        width: 40px;
        margin-left: 10px;
        margin-right: 5px;
        label {
            position: relative;
            width: 1px!important;
            height: 1px!important;
        }
        label input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        label .icon {
            position: relative;
            width: 40px;
            height: 40px;
            background: #18191f;
            color: #555;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin: 0 10px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05), 4px 4px 6px rgba(0, 0, 0, 0.2),
                inset -1px -1px 4px rgba(255, 255, 255, 0.05), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
                right: 10px;
        }
        label .icon::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: calc(100% - 5px);
            height: calc(50% - 2px);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            background: rgba(0, 0, 0, 0.05);
        }
        label input[type="checkbox"]:checked ~ .icon {
            box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.05), inset 4px 4px 6px rgba(0, 0, 0, 0.2);
        }
        label input[type="checkbox"]:checked ~ .icon .material-icons {
            color: #00f3ff;
            text-shadow: 0 0 15px #00f3ff, 0 0 25px #00f3ff;
            animation: glowind-checkbox 5s linear infinite;
        }
        @keyframes glowind-checkbox {
            0% {
                filter: hue-rotate(0deg);
            }
            100% {
                filter: hue-rotate(360deg);
            }
        }
        span {
            user-select: none;
        }
    }
    .btn {
        position: relative;
        width: 110px;
        height: 40px;
        margin-left: 5px;
    }
    .btn a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.01);
        border-bottom: 1px solid rgba(255, 255, 255, 0.01);
        border-radius: 30px;
        color: #fff;
        z-index: 1;
        font-weight: 400;
        letter-spacing: 1px;
        text-decoration: none;
        transition: 0.5s;
        backdrop-filter: blur(15px);
        overflow: hidden;
        cursor: pointer;
        user-select: none;
    }
    .btn:hover a {
        letter-spacing: 3px;
        text-shadow: yellow 1px 0 10px;
    }
    .btn a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
        transform: skewX(45deg) translateX(0);
        transition: 0.5s;
    }
    .btn:hover a::before {
        transform: skewX(45deg) translateX(200%);
    }
    // .form .btn::before {
    //     content: "";
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     bottom: -5px;
    //     width: 30px;
    //     height: 10px;
    //     background: #f00;
    //     border-radius: 10px;
    //     transition: 0.5s;
    //     transition-delay: 0s;
    // }
    .btn:hover::before {
        bottom: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
        transition-delay: 0.5s;
    }
    
    // .form .btn::after {
    //     content: "";
    //     position: absolute;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     top: -5px;
    //     width: 30px;
    //     height: 10px;
    //     background: #f00;
    //     border-radius: 10px;
    //     transition: 0.5s;
    //     transition-delay: 0s;
    // }
    .btn:hover::after {
        top: 0;
        height: 50%;
        width: 80%;
        border-radius: 30px;
        transition-delay: 0.5s;
    }

    ::ng-deep.tabs{
        width: auto;
        margin-top: 10px;
        --mdc-tab-indicator-active-indicator-color: #fff;
        --mat-tab-header-inactive-label-text-color: #fff;
        --mat-tab-header-active-label-text-color: #fff;
        --mat-tab-header-inactive-focus-label-text-color: #fff;
        --mat-tab-header-inactive-hover-label-text-color: #fff;
        --mat-tab-header-active-ripple-color: #fff;
        --mat-tab-header-inactive-ripple-color: #fff;
        --mat-tab-header-active-focus-label-text-color: #fff;
        --mat-tab-header-active-hover-label-text-color: #fff;
        --mat-tab-header-active-focus-indicator-color: #fff;
        --mat-tab-header-active-hover-indicator-color: #fff;
        --mat-tab-header-pagination-icon-color: #fff;
        text-shadow: rgb(160, 160, 160) 1px 0 10px;
    }
}

.instruction-button{
    color: greenyellow;
    font-weight: bold;
    &:hover{
        color: #fff;
        text-shadow: greenyellow 1px 0 10px;
    }
}
.invoice-settings-button{
    color: orange;
    font-weight: bold;
    &:hover{
        color: #fff;
        text-shadow: orange 1px 0 10px;
    }
}
.logout-button{
    color: red;
    font-weight: bold;
    &:hover{
        color: #fff;
        text-shadow: red 1px 0 10px;
    }
}



@media screen and (max-width: 1000px){
    .main{
        width: 140%;
    }
    input{
        width: 160px;
    }
}


.snow-conteiner{
    position: absolute;
    top: 0;
    z-index: -10;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: main-loadup 1s forwards linear, main-loadup-bg 10s 
    forwards linear;
    animation-delay: 7s, 8s;
}

@keyframes main-loadup {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes main-loadup-bg {
	from {
		background-size: 100% 100%;
		background-position: 0% 0%;
	}

	to {
		background-size: 400% 400%;
		background-position: 0% 100%;
	}
}

.initial-snow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.initial-snow > * {
	font-size: 50px;
	color: rgba(255, 255, 255, 0.171);
	position: absolute;
	top: -5vh;
}

@keyframes snowfall {
	0% {
		transform: translate3d(var(--left-ini), 0, 0);
	}

	100% {
		transform: translate3d(var(--left-end), 110vh, 0);
	}
}

.snow:nth-child(2n) {
	filter: blur(1px);
	font-size: 40px;
}

.snow:nth-child(6n) {
	filter: blur(2px);
	font-size: 30px;
}

.snow:nth-child(10n) {
	filter: blur(5px);
	font-size: 30px;
}

.snow:nth-child(1) {
	--size: 0.8vw;
	--left-ini: 0vw;
	--left-end: -1vw;
	left: 70vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(2) {
	--size: 0.2vw;
	--left-ini: -7vw;
	--left-end: 10vw;
	left: 65vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(3) {
	--size: 1vw;
	--left-ini: 6vw;
	--left-end: 6vw;
	left: 1vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -7s;
}

.snow:nth-child(4) {
	--size: 0.2vw;
	--left-ini: -3vw;
	--left-end: 9vw;
	left: 88vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(5) {
	--size: 0.4vw;
	--left-ini: -2vw;
	--left-end: -9vw;
	left: 74vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(6) {
	--size: 0.2vw;
	--left-ini: 5vw;
	--left-end: 1vw;
	left: 35vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -7s;
}

.snow:nth-child(7) {
	--size: 0.4vw;
	--left-ini: -2vw;
	--left-end: -1vw;
	left: 27vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(8) {
	--size: 1vw;
	--left-ini: -9vw;
	--left-end: -2vw;
	left: 69vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(9) {
	--size: 0.2vw;
	--left-ini: -1vw;
	--left-end: -5vw;
	left: 84vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(10) {
	--size: 0.2vw;
	--left-ini: 7vw;
	--left-end: -9vw;
	left: 82vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -3s;
}

.snow:nth-child(11) {
	--size: 0.6vw;
	--left-ini: -2vw;
	--left-end: -1vw;
	left: 48vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(12) {
	--size: 0.2vw;
	--left-ini: 5vw;
	--left-end: 6vw;
	left: 39vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(13) {
	--size: 0.2vw;
	--left-ini: 6vw;
	--left-end: 5vw;
	left: 3vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(14) {
	--size: 0.8vw;
	--left-ini: -5vw;
	--left-end: -2vw;
	left: 49vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(15) {
	--size: 0.6vw;
	--left-ini: 10vw;
	--left-end: 4vw;
	left: 77vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(16) {
	--size: 0.8vw;
	--left-ini: -3vw;
	--left-end: 1vw;
	left: 86vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(17) {
	--size: 1vw;
	--left-ini: 6vw;
	--left-end: -7vw;
	left: 18vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(18) {
	--size: 1vw;
	--left-ini: -9vw;
	--left-end: 4vw;
	left: 64vw;
	animation: snowfall 13s linear infinite;
	animation-delay: -7s;
}

.snow:nth-child(19) {
	--size: 1vw;
	--left-ini: 2vw;
	--left-end: -7vw;
	left: 52vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(20) {
	--size: 0.4vw;
	--left-ini: 0vw;
	--left-end: 8vw;
	left: 5vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(21) {
	--size: 0.6vw;
	--left-ini: -9vw;
	--left-end: -2vw;
	left: 10vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -3s;
}

.snow:nth-child(22) {
	--size: 0.8vw;
	--left-ini: -3vw;
	--left-end: -8vw;
	left: 54vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(23) {
	--size: 0.6vw;
	--left-ini: -7vw;
	--left-end: -8vw;
	left: 20vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -3s;
}

.snow:nth-child(24) {
	--size: 0.4vw;
	--left-ini: 10vw;
	--left-end: -4vw;
	left: 68vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -8s;
}

.snow:nth-child(25) {
	--size: 1vw;
	--left-ini: 3vw;
	--left-end: 5vw;
	left: 90vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(26) {
	--size: 1vw;
	--left-ini: -7vw;
	--left-end: 5vw;
	left: 71vw;
	animation: snowfall 13s linear infinite;
	animation-delay: -2s;
}

.snow:nth-child(27) {
	--size: 0.6vw;
	--left-ini: 9vw;
	--left-end: 4vw;
	left: 2vw;
	animation: snowfall 15s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(28) {
	--size: 1vw;
	--left-ini: -5vw;
	--left-end: 3vw;
	left: 23vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(29) {
	--size: 0.4vw;
	--left-ini: -2vw;
	--left-end: -1vw;
	left: 39vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(30) {
	--size: 0.6vw;
	--left-ini: -9vw;
	--left-end: -5vw;
	left: 76vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(31) {
	--size: 0.4vw;
	--left-ini: -5vw;
	--left-end: 3vw;
	left: 14vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(32) {
	--size: 0.2vw;
	--left-ini: 5vw;
	--left-end: -1vw;
	left: 86vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(33) {
	--size: 0.4vw;
	--left-ini: -3vw;
	--left-end: 10vw;
	left: 66vw;
	animation: snowfall 6s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(34) {
	--size: 1vw;
	--left-ini: -3vw;
	--left-end: 6vw;
	left: 75vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(35) {
	--size: 1vw;
	--left-ini: -6vw;
	--left-end: 7vw;
	left: 22vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(36) {
	--size: 1vw;
	--left-ini: 3vw;
	--left-end: 4vw;
	left: 10vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -10s;
}

.snow:nth-child(37) {
	--size: 0.6vw;
	--left-ini: 2vw;
	--left-end: 10vw;
	left: 95vw;
	animation: snowfall 13s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(38) {
	--size: 0.8vw;
	--left-ini: 5vw;
	--left-end: 8vw;
	left: 34vw;
	animation: snowfall 9s linear infinite;
	animation-delay: -10s;
}

.snow:nth-child(39) {
	--size: 0.8vw;
	--left-ini: 4vw;
	--left-end: 0vw;
	left: 80vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -2s;
}

.snow:nth-child(40) {
	--size: 0.8vw;
	--left-ini: 1vw;
	--left-end: -7vw;
	left: 45vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(41) {
	--size: 0.2vw;
	--left-ini: 9vw;
	--left-end: 10vw;
	left: 82vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -2s;
}

.snow:nth-child(42) {
	--size: 1vw;
	--left-ini: 9vw;
	--left-end: -9vw;
	left: 22vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(43) {
	--size: 0.6vw;
	--left-ini: 5vw;
	--left-end: 8vw;
	left: 66vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -1s;
}

.snow:nth-child(44) {
	--size: 0.6vw;
	--left-ini: -5vw;
	--left-end: -2vw;
	left: 75vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(45) {
	--size: 0.2vw;
	--left-ini: 0vw;
	--left-end: 3vw;
	left: 2vw;
	animation: snowfall 7s linear infinite;
	animation-delay: -5s;
}

.snow:nth-child(46) {
	--size: 0.2vw;
	--left-ini: 8vw;
	--left-end: -3vw;
	left: 94vw;
	animation: snowfall 8s linear infinite;
	animation-delay: -9s;
}

.snow:nth-child(47) {
	--size: 0.6vw;
	--left-ini: -6vw;
	--left-end: -9vw;
	left: 95vw;
	animation: snowfall 11s linear infinite;
	animation-delay: -4s;
}

.snow:nth-child(48) {
	--size: 0.2vw;
	--left-ini: -5vw;
	--left-end: 6vw;
	left: 34vw;
	animation: snowfall 10s linear infinite;
	animation-delay: -6s;
}

.snow:nth-child(49) {
	--size: 0.8vw;
	--left-ini: 4vw;
	--left-end: 8vw;
	left: 22vw;
	animation: snowfall 12s linear infinite;
	animation-delay: -10s;
}

.snow:nth-child(50) {
	--size: 0.2vw;
	--left-ini: -4vw;
	--left-end: 4vw;
	left: 100vw;
	animation: snowfall 14s linear infinite;
	animation-delay: -9s;
}
